@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

html, body {
    height: 100%;
    font-family: 'Glacial Indifference', sans-serif;
    background-color: rgba(211, 211, 211, 0.15);
}

header {
    background-color: rgba(211, 211, 211, 0.05);
    padding: 10px 5%; /* Cambiar a % para hacer el padding responsive */
    text-align: center;
}

.logo-pet-care-sin-fondo-png-1 {
    width: 80%; /* Cambiar a % para hacer el logo responsive */
    max-width: 500px; /* Mantener el tamaño máximo */
    height: auto; /* Hacer la altura automática para mantener proporciones */
    margin: 0 auto;
}

.login {
    flex-direction: column;
    align-items: center;
    padding: 40px; /* Reducir el padding */
    width: 90%; /* Hacer el contenedor responsive */
    max-width: 600px; /* Tamaño máximo para mantener la legibilidad */
    margin: 0 auto; /* Centrar el contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregar sombra para destacar */
    
}

h2 {
    color: #388E3C; /* Color del encabezado */
    font-size: 2em; /* Tamaño del texto */
    font-weight: bold; /* Pone el texto en negrilla */ 
    margin-bottom: 20px; /* Espacio debajo del encabezado */
}

form {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Colocar los elementos uno debajo del otro */
    align-items: center; /* Centrar horizontalmente todos los elementos */
    width: 100%; /* Abarca todo el ancho */
}

.input-group {
    display: flex; /* Establecer Grid para el contenedor */
    flex-direction: column; /* Colocar los elementos uno debajo del otro */
    align-items: center; /* Centrar horizontalmente */
    margin-bottom: 15px;
    width: 100%; /* Abarca todo el ancho */
}

label {
    color: #388E3C; /* Color del texto */
    font-size: 1.5em; /* Cambiar a em para mayor adaptabilidad */
    line-height: 1.5; /* Usar unidades relativas */
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px; /* Espacio debajo de la etiqueta */

}

input {
    background-color: rgba(211, 211, 211, 0.15);
    width: 90%; /* Hacer el input más adaptable */
    max-width: 426px; /* Tamaño máximo del input */
    height: 58px;
    padding: 0 10px;
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Esquinas redondeadas */
    
}

.btnlogin{
    background-color: #388E3C; /* Color de fondo del botón */
    border: 1px solid #8492A6; /* Borde del botón */
    border-radius: 60px; /* Bordes redondeados */
    width: 80%; /* Hacer el botón más adaptable */
    max-width: 260px; /* Tamaño máximo del botón */
    height: 76px;
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: 20px auto; /* Centrar el botón en su contenedor */
    color: #FFFFFF; /* Color del texto */
    font-size: 1.5em; /* Cambiar a em para mayor adaptabilidad */
    transition: background-color 0.3s, transform 0.3s;

}

.btnlogin:hover {
    background-color: #2e7d32;
    transform: scale(1.05);
}

.btncancelar{
    color: #969FAA;
    font-size: 1.5em; /* Cambiar a em para mayor adaptabilidad */
    text-align: center;
    margin: 0 auto; /* Centrar horizontalmente */
    display: block; /* Asegurarse de que el botón actúe como un bloque */
}

footer {
    background-color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    border: 1px solid #8c8c94;
}

footer p {
    color: #47525E;
    font-size: 1.2em; /* Cambiar a em para mayor adaptabilidad */
    line-height: 1.5;
}

/* Media Queries para Pantallas Pequeñas */
@media (max-width: 600px) {
    h2 {
        font-size: 1.5em; /* Disminuir tamaño del encabezado */
    }
    
    .btnlogin, .btncancelar {
        font-size: 1.2em; /* Disminuir tamaño del botón */
    }

    label {
        font-size: 1.2em; /* Disminuir tamaño de las etiquetas */
    }

    input {
        width: 90%; /* Mantener input adaptable */
    }

    .logo-pet-care-sin-fondo-png-1 {
        width: 100%; /* Hacer logo más pequeño en pantallas pequeñas */
    }
}